*.o
*.swp
*.kate-swp
*.log
*.cfg
*.exe
*.res
*.session
.svn
.directory
.unison*
.depend*
.include*
Thumbs.db
cccaster*
trials*
tmp*
build*
gmon.out
profile*.txt
rollback.*
GRP
palettes*
*.clip
TAGS
*.bmp
*.png
scripts/seqlists*
debugging
targets/DBGFNT02.psd
.vscode/settings.json
targets/DBGFNT02.png
targets/DBGFNT02.png
